
    <div class="height" >
        <% 10.times do |width|%>
            <div class="width">
              <div class="card" in="card_#{height}_#{width}">
                <%= form_tag("/action_step2/#{board.height-1}/#{width}",remote: true) do %>
                  <input  type="submit" name="action_step2" value="<%= board.width[width] %>" class="card">
                <% end %>
              </div>
            </div>
        <% end %>
    </div>
