<%= form_tag("/gerst_login") do %>
    <% @player.errors.full_messages.each do |message| %>
          <div class="form-error">
              <%= message %>
          </div>
    <% end %>
    <p>ニックネーム入力</p>
    <input type="text" name="name" value="">
    <input type="submit" name="" value="登録">
<% end %>
