<%= form_tag("/host_login") do %>
    <p>パスワード</p>
    <input type="text" name="password" value="">
    <p>ニックネーム入力</p>
    <input type="text" name="name" value="">
    <input type="submit" name="" value="ログイン">
<% end %>
