
<%= form_tag("/setting") do %>
<p>部屋番号</p>
<input type="integer" name="room" value="0000">
  <p>プレイヤー数</p>
  <input type="integer" name="player" value="">
  <input type="submit" name="" value="入力">
<% end %>
