<h1>設定</h1>

<%= link_to("ホスト","/host_login") %>

<p>ゲスト</p>
<%= form_tag("/gerst_login") do %>
<p>ニックネーム入力</p>
<input type="text" name="name" value="">
<input type="submit" name="" value="登録">
<% end %>
