/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 #maru_btn { visibility: hidden; }
 #batu_btn { visibility: hidden; }
 #judge_btn { visibility: hidden; }

 .flash{
  height:40px;
  width:100%;
  background-color: rgb(242, 140, 59);
  color:white;
  text-align: center;
  line-height: 40px;
  font-size:20px;
  position: fixed;
  top:0;

}

.board{
  width:720px;

}
.height{
}
.width{
}
.flaot_left{
  float:left;
}
.board_card{
  height:111px;
  width:66px;
  border: 1px solid #ddd;
  font-size:30px;
  background-color: rgb(95, 221, 75);
  float:left;
}
.hand_card{
  height:146px;
  width:96px;
  margin:5px 10px;
  border: 1px solid #ddd;
  font-size:30px;
  background-color: rgb(95, 221, 75);
}
.hand{
  width:600px;
  position:absolute;
  top:1000px;
  left:150px;
}
.opacity{
  opacity: 0.6;
}
.btn-item{
  float: left;
  margin:0 30px;
  height:40px;
  width:100px;
}
.btn-items{
  height:50px;
}
.players_name{
  overflow: hidden;
}
.names{
  border: 1px solid #999;
  margin:0 20px 20px 0px;
  padding:5px;
}
